{
  "extends": "stylelint-config-htmlacademy",

  "rules": {
    "color-named": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "declaration-no-important": true,
    "font-weight-notation": null,
    "max-nesting-depth": null,
    "selector-max-id": null,
    "@stylistic/declaration-colon-newline-after": null
  }
}
