@use "../globals" as *;

.contact {
  border-bottom: solid $secondaryTextColor 2px;
  padding-bottom: 50px;
}

.contact__title {
  font-size: $fontSecTitleSize;
  font-weight: $fontOfferWeight;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

.contact__desc {
  font-weight: $fontOfferWeight;
  font-size: 24px;
  line-height: 28px;
  width: 600px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 40px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.contact__form {
  width: 600px;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.contact__fields {
  border: none;
  padding: 0;
  width: 100%;
}

.contact__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact__input {
  width: 300px;
  height: 45px;
  background-color: $baseBackColor;
  color: $baseTextColor;
  border: 1px solid $baseTextColor;
  border-radius: 10px;
  margin: 0;
  padding: 12px;

  &::placeholder {
    color: rgba(218, 218, 218, 0.5);
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.contact__input--mail {
  width: 255px;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    width: 100%;
    margin-top: 20px;
  }
}

.contact__input--message {
  width: 600px;
  height: 190px;
  resize: none;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.contact_button {
  display: block;
  box-sizing: inherit;
  width: 200px;
  height: 45px;
  transition: 0.4s;
  background: $secondaryTextColor;
  color: $baseBackColor;
  font-weight: $fontOfferWeight;
  border-radius: 10px;
  margin: 20px auto 0;
  border: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    background: #fa8313;
  }
}
