@use "../globals" as *;

.footer {
  width: $mainDesktopWidth;
  padding-top: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;

  @media (max-width: 768px) {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
}

.footer__text {
  color: $baseTextColor;
  font-weight: $fontOfferWeight;
  font-size: 14px;
  margin: 0;
  padding-bottom: 12px;
}

.footer__text--rights {
  padding-bottom: 0;
}

.footer__tech {
  display: flex;
  align-items: center;
  padding-bottom: 12px;

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.footer__text--tech {
  padding-bottom: 0;
  padding-right: 12px;
}

.footer__logo {
  padding-right: 12px;
}

.footer__social {
  display: flex;
  align-items: center;
}

.footer__social svg {
  fill: $secondaryTextColor;

  &:hover {
    fill: $secondaryBackColor;
  }
}

.footer__item {
  padding-right: 25px;
}

.footer__item:last-child {
  padding-right: 0;
}
