@use "../globals" as *;

.header {
  width: $mainDesktopWidth;
  padding-top: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (max-width: 768px) {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    box-sizing: border-box;
  }
}

.header__logo {
  @media (max-width: 768px) {
    width: 120px;
    height: 30px;
  }
}
