@use "../globals" as *;

.portfolio {
  border-bottom: solid $secondaryTextColor 2px;
  padding-bottom: 50px;
}

.portfolio__title {
  font-size: $fontSecTitleSize;
  font-weight: $fontOfferWeight;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

.portfolio__desc {
  font-weight: $fontOfferWeight;
  font-size: 24px;
  line-height: 28px;
  width: 600px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 40px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.portfolio__desc--colored {
  color: $secondaryTextColor;
}

.portfolio__cards {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  justify-items: center;

  @media (max-width: 768px) {
    gap: 10px;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(6, auto);
    justify-content: center;
  }

  &--cert {
    grid-template-rows: repeat(2, auto);
    justify-content: center;

    @media (max-width: 768px) {
      gap: 10px;
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(4, auto);
    }
  }
}

.portfolio__cards-button {
  border: none;
  cursor: pointer;
  padding: 0;
  background: none;
  transition: 0.4s;
  box-sizing: border-box;
  width: 360px;
  height: 200px;
  position: relative;

  &:hover,
  &:focus {
    // border: 5px solid #ffa04a;
    &::before {
      opacity: 0;
    }
  }

  @media (max-width: 768px) {
    width: 270px;
    height: 150px;
  }

  img {
    @media (max-width: 768px) {
      width: 270px;
      height: 150px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffa04a;
    opacity: 0.8;
    transition: 0.4s;
    z-index: 998;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &--cert {
    width: 213px;
    height: 300px;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #ffa04a;
      opacity: 0.8;
      transition: 0.4s;
      z-index: 998;

      @media (max-width: 768px) {
        display: none;
      }
    }

    img {
      @media (max-width: 768px) {
        width: 213px;
        height: 300px;
      }
    }
  }

  &--cert-wayup {
    grid-column-start: 2;
    width: 300px;
    height: 180px;

    img {
      @media (max-width: 768px) {
        width: 300px;
        height: 180px;
      }
    }

    @media (max-width: 768px) {
      grid-column-start: 1;
    }
  }
}

.portfolio__cards-titles {
  position: absolute;
  transition: 0.4s;
  z-index: 999;
  display: flex;
  border: 4px solid white;
  width: 90%;
  height: 90%;
  top: 6px;
  left: 15px;

  &:hover,
  &:focus {
    opacity: 0;
  }

  p {
    margin: auto;
    color: white;
    font-weight: $fontOfferWeight;
    font-size: 20px;
    text-align: center;
  }

  @media (max-width: 768px) {
    display: none;
  }

  &--cert {
    top: 10px;
    left: 7px;
  }

  &--certwayup {
    top: 5px;
    left: 11px;
  }
}

.portfolio__button-close {
  border: none;
  cursor: pointer;
  padding: 0;
  background: none;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  align-self: flex-end;
  margin-bottom: 20px;
}

.portfolio__darker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 12, 12, 0.9);
  z-index: 1000;
  display: none;
  overflow-y: auto;

  &--opened {
    display: block;
  }
}

.portfolio__card-inner {
  position: fixed;
  top: calc(50vh - 230px);
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1001;
  display: flex;
  animation: bounce 0.6s;

  @media (max-width: 768px) {
    width: 80%;
    top: 20px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

.portfolio__card-descs {
  width: 570px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    width: 100%;
    flex-wrap: wrap;
    margin-left: 0;
  }
}

.portfolio__card-desc {
  color: $baseTextColor;
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 20px;

  &--title {
    color: #ffa04a;
  }

  a {
    color: $baseTextColor;
  }

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
  }
}

.portfolio__card-images {
  width: 490px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, auto);

  @media (max-width: 768px) {
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: repeat(1, auto);
    height: 300px;
    overflow: scroll;
    justify-content: center;
  }
}

.portfolio__card-link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    color: #ffa04a;
  }
}
