body {
  font-family: $fontBase;
  font-size: $fontBaseSize;
  min-width: $widthMobile;
  margin: 0 auto;
  background-color: $baseBackColor;
}

a {
  text-decoration: none;
}

.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  top: 0;
  z-index: -1;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  top: 0;
  z-index: -1;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -2000px);
  }

  70% {
    transform: translate(-50%, 30px);
  }

  90% {
    transform: translate(-50%, -10px);
  }

  100% {
    transform: translate(-50%, 0);
  }
}
