$baseColor: #130c0c;

$baseTextColor: #dadada;
$secondaryTextColor: #ffa04a;

$baseBackColor: #130c0c;
$secondaryBackColor: #f2f2f2;

$widthMobile: 320px;
$widthTablet: 768px;
$widthDesktop: 1300px;

$mainDesktopWidth: 1140px;

$fontOfferWeight: 500;
