<section class="contact">
  <h2 class="contact__title" id="contact">Contact me</h2>
  <p class="contact__desc">
    Thanks for taking the time to reach out. How can I help you today?
  </p>
  <form class="contact__form">
    <fieldset class="contact__fields" title="Form fields">
      <div class="contact__wrapper">
        <input
          type="text"
          class="contact__input"
          placeholder="Name"
          name="name"
          required
          autocomplete="off"
        />
        <input
          type="email"
          class="contact__input contact__input--mail"
          name="email"
          placeholder="Email"
          required
          autocomplete="off"
        />
        <textarea
          class="contact__input contact__input--message"
          name="message"
          placeholder="Message"
          maxlength="500"
          required
          autocomplete="off"
        ></textarea>
      </div>
    </fieldset>
    <button class="contact_button" type="button">Send message</button>
  </form>
</section>
