<section class="portfolio">
  <h2 class="portfolio__title" id="portfolio">Selected Works (2021)</h2>
  <p class="portfolio__desc">
    Delivering reliable
    <span class="portfolio__desc--colored">frontend solutions</span>
    for complex products and fast-moving teams.
  </p>
  <div class="portfolio__cards">
    <button
      class="portfolio__cards-button"
      type="button"
      data-portfolio="nda"
      aria-haspopup="dialog"
    >
      <img
        src="img/portfolio_mini_1.jpg"
        alt="National Digital Aggregator preview"
        width="360"
        height="200"
        loading="lazy"
        decoding="async"
      />
      <div class="portfolio__cards-titles">
        <p>National Digital Aggregator</p>
      </div>
    </button>
    <button
      class="portfolio__cards-button"
      type="button"
      data-portfolio="fantshop"
      aria-haspopup="dialog"
    >
      <img
        src="img/portfolio_mini_2.jpg"
        alt="Fanttex Shop preview"
        width="360"
        height="200"
        loading="lazy"
        decoding="async"
      />
      <div class="portfolio__cards-titles">
        <p>Fanttex Shop</p>
      </div>
    </button>
    <button
      class="portfolio__cards-button"
      type="button"
      data-portfolio="rapid"
      aria-haspopup="dialog"
    >
      <img
        src="img/portfolio_mini_4.jpg"
        alt="Rapid Company preview"
        width="360"
        height="200"
        loading="lazy"
        decoding="async"
      />
      <div class="portfolio__cards-titles">
        <p>Rapid Company</p>
      </div>
    </button>
  </div>
</section>
