<div class="portfolio__darker" id="portfolio-modal">
  <div
    class="portfolio__card-inner"
    role="dialog"
    aria-modal="true"
    aria-labelledby="portfolio-modal-title"
  >
    <div class="portfolio__card-images" id="portfolio-modal-images"></div>
    <div class="portfolio__card-descs">
      <button class="portfolio__button-close" type="button">
        <span class="visually-hidden">Close portfolio details</span>
        <svg
          width="25"
          height="25"
          viewBox="0 0 25 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="23.2759"
            y="24.9999"
            width="32.9169"
            height="2.43829"
            transform="rotate(-135 23.2759 24.9999)"
            fill="#FFA04A"
          />
          <rect
            y="23.2758"
            width="32.9169"
            height="2.43829"
            transform="rotate(-45 0 23.2758)"
            fill="#FFA04A"
          />
        </svg>
      </button>
      <p class="portfolio__card-desc">
        <span class="portfolio__card-desc--title">Organization:</span>
        <span id="portfolio-modal-title"></span>
      </p>
      <p class="portfolio__card-desc">
        <span class="portfolio__card-desc--title">Links:</span>
        <span id="portfolio-modal-links"></span>
      </p>
      <p class="portfolio__card-desc">
        <span class="portfolio__card-desc--title">My role in the project:</span>
        <span id="portfolio-modal-role"></span>
      </p>
      <p class="portfolio__card-desc">
        <span class="portfolio__card-desc--title">Technologies and tools:</span>
        <span id="portfolio-modal-technologies"></span>
      </p>
      <p class="portfolio__card-desc">
        <span class="portfolio__card-desc--title">Description:</span>
        <span id="portfolio-modal-description"></span>
      </p>
    </div>
  </div>
</div>
